
.box{
    position:relative;
    background-color: #f2504b;
    color:#FFF;
    height: 150px;
    border: 4px solid #7d2b27;
    /*line-height: 100px;*/
}
.box .box-content0{
    display: inline-block;
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;

}
.box .box-content1{
    display: block;
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;

}
.box-content1{
    margin: 0 auto;//centre la box
}

.box .box-content2{
    display: block;
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;
    float: left;

}
.boxes{
    display: inline-block;//3.56
}

.box .box-content{
    /*display: block;*/
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;
    float: left;
}

.box{
    text-align: center;//aligne le texte dans la box
}
.box0{
    position:relative;
    background-color: #f2504b;
    color:#FFF;
    height: 150px;
    border: 4px solid #7d2b27;
    line-height: 150px;
}
.box0 .box-content3{
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;
    padding: 10px 0;
}
.box0{
    text-align: center;//aligne le texte dans la box
}
.box1{
    position:relative;
    background-color: #f2504b;
    color:#FFF;
    height: 150px;
    border: 4px solid #7d2b27;

}
.box-inner{
    background-color: #ffbaad;
    display: table-cell;
    vertical-align: middle;
}
.box1{
    display: table;
    width: 100%;
}
.box-content4{
    display: block;
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;
    margin: 0 auto;
}
.box-content4{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;

}
.box-content5{
    display: block;
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;
    margin: 0 auto;
}
.box-content5{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
.box-content6{
    display: block;
    background-color:#4ba6a3;
    width: 50px;
    height: 50px;
    border:2px solid #336663;
    margin: 0 auto;
}
.box-content6{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);

}
.box-content7{
    display: inline;
    background-color:#4ba6a3;
    border:2px solid #336663;
    margin: 0 auto;
}
.box-content7{
    position: absolute;
    top: 50%;//% relatif parent
    left: 50%;
    transform: translateX(-50%)translateY(-50%)//% relatif objet

}
.box2{
    position:relative;
    background-color: #f2504b;
    color:#FFF;
    height: 150px;
    border: 4px solid #7d2b27;

}
.box-content8{
    display: inline;
    background-color:#4ba6a3;
    border:2px solid #336663;
  
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    //depasse la ligne
    flex-wrap: wrap;
    alig-content: center;
}